$corDeFundo: #040714;
$secondary-color: silver;
$primary-color: #cc3636;

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 78);
    transition: background-color .5s ease; 
    z-index: 1;
    padding: 2px 2px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
        padding: 8px 10px;
    }

    &__logo {
        max-width: 80px;
        width: 100%;
        margin: 5px;
        transition: opacity .5s ease; 

        @media (max-width: 768px) {
            max-width: 50px; 
        }
    }
    
    &__links {
        display: flex;
        align-items: center;
    }

    &__links__item {
        margin: 0 5px;
    }

    .button {
        height: 40px;

        @media (max-width: 768px) {
            font-size: 13px;
            padding: 8px 11px;
            height: 40px;
            letter-spacing: 0;
        }
    }
}

.banner {
    background-color: $secondary-color;
    color: white;
    padding: 50px 0; 
    text-align: center;

    img {
        max-width: 100%; /* Ajuste para a imagem ocupar 100% da largura do contêiner */
        height: auto; /* Para manter a proporção da imagem */
    }

    button {
        margin-top: 20px; /* Adicionei um espaço entre a imagem e o botão */
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color:$primary-color;
        color: white;
        cursor: pointer;

        &:hover {
            background-color: darken($primary-color, 10%);
        }
    }
}

.imagen-recomendados {
    padding: 20px;

    .grid-container {
        display: flex; /* Alterado para flex para colocar as imagens lado a lado */
        justify-content: space-between; /* Distribui as imagens horizontalmente */
        gap: 20px; /* Adicionado espaçamento entre as imagens */

        .imagen {
            flex: 0 0 calc(33.33% - 20px); /* Calculado o tamanho para exibir três imagens lado a lado com o espaçamento */
            overflow: hidden;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }
        }
    }
}

footer {
    background-color: $primary-color;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}
